<!DOCTYPE html>
<html>
<head>
  <title>FoundSounds</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB9zGTb-2nis7IOxTZGF-38_MxRKSLt9Eo" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="<%= image_url('cassette.png') %>">
   <link 
	href="https://fonts.googleapis.com/css?family=Pacifico" 
	rel="stylesheet" />
</head>
<body>

<%= yield %>

</body>
</html>
